@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

body {
  
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; 
}

.Building-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px; 
}

.item {
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, #bc1717 0%, transparent 100%);
  transition: height 0.5s ease;
}

.item:hover::before {
  height: 100%;
}

.item:hover {
  background-color: #e9ecef;
}

.image-container {
  width: 100%;
  max-width: 600px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

.image-grid img:hover {
  transform: scale(1.05);
}

.about-infrastructure {
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  font-family: "Truculenta", sans-serif;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  .Building-list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .item {
    width: 100%;
  }

  .image-container, .image-grid {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (min-width: 769px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
